body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
   font-size: 50px;
}
.orange{
    color: rgb(235, 109, 26);
}
.second-heading{
    font-size: 50px;
}
.Container-1{
    display: flex;
    padding: 5% 8%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;

}
#marking{
    padding-top: 6%;
}
.distance{
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 50px;
}
.half-width img{
    width: 100%;
}
.Container-2{
    display: flex;
    padding: 5% 8%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#dream{
    font-size: 50px;
}
#home{
    font-size: 20px;
}
#motive-box{
    margin-left: 7%;
}
#button-2{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 60px;
    border-radius: 40px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-top: 50px;
}
footer{
    color: gray;
    text-align: center;
}